html, body {
	padding: 0;
	margin: 0;
	font-family: Arial;
}
.header {
    width:100%;
	height:600px;
	background-repeat: no-repeat;
	background-size: cover;
	display:flex;
    justify-content:center;
	align-items:center;
	padding-top:50px;
	background:linear-gradient( rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 75%, #5c7383 25%);


}

.main{
	background-color:rgba(0,0,0,0.1);
	width:100%;
	background-repeat: no-repeat;
	background-size: cover;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	padding-top:50px;

}
.kart{
	margin-bottom:50px;
	margin-top:-870px;
	margin-right:-850px;
}
.a{
	padding:50px 0px;
}
.b{
	padding:0px 20px;
}
.block1{
	margin-left:-700px;
	width:700px;
	font-size:20px;
	font-family:Corporate A Pro;
	color:#5c7383;
    text-align:left;
	border-right:2px solid #5c7383;
	margin-bottom:50px;
	padding-right:100px;
}



.img{
	padding:0 50px;

}
.img1{
	margin-left:50px;	
}
.oblaka{
	box-shadow: 0 -3px 10px rgba(0,0,0,0.3);
	background:url(pexels-photo.png)
}
.header__rog{
	text-align:left;
	padding:0 50px;
	margin-left:400px;
	color:white;
	font-family:Corporate A Pro;
	font-size:40px;
	background-color:#5c7383;
	width:300px;
	height:400px;
	justify-content:center;
	align-items:center;
	display:flex;
	box-shadow: 0 -3px 10px rgba(0,0,0,0.3);
	
}
.menu{
	padding: 1px;
	background-color: #5c7383;
	width: 100%;
	display:flex;
 	justify-content:center;
	align-items:center;
	position:fixed;
		
	
}
.menu__design a:link, .menu__design a:visited{
	text-decoration: none;
	color: white;
	font: 13px Arial;
	padding-right: 25px;
	

	
}
.menu__design a:hover, .menu8 a:active{
	background: white;
	color:#5c7383;
	padding: 10px;
}
.footer {
		box-shadow: 0 -3px 10px rgba(0,0,0,0.3);
    display:  flex;
    justify-content: center;
    min-height: 200px;
    background-color: #5c7383;

}
.footer__line{
	padding-top:100px;

}
.none{
	text-decoration: none;
	color:white;
	
}
.contact{
    color:white;
	padding-top:100px;
}
.footer__icons{
	padding:100px 100px;
}
.pointer img {
    position: relative;
    top: 5px;
    left: 4px;
}
.pointer {
    background-color:white;
	border:2px solid #5c7383;
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 100;
    bottom: 15px;
    right: 15px;
}